server {

    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name   "{{ inventory_hostname }}";

    # use a variable for convenience
    set $galaxy_root /home/galaxy/galaxy;

    # allow only /galaxy browsing
    location / {
        root   html;
        index  index.html index.htm;
        deny all;
    }

    # proxy all requests not matching other locations to uWSGI
    location /galaxy {
        uwsgi_pass 127.0.0.1:4001;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }

    # serve framework static content
    location /galaxy/static/style {
        alias $galaxy_root/static/style/blue;
        expires 24h;
    }
    location /galaxy/static {
        alias $galaxy_root/static;
        expires 24h;
    }
    location /galaxy/favicon.ico {
        alias $galaxy_root/static/favicon.ico;
    }
    location /galaxy/robots.txt {
        alias $galaxy_root/static/robots.txt;
    }
    location /_x_accel_redirect/ {
        internal;
        alias /;
    }

    # serve visualization and interactive environment plugin static content
    location ~ ^/plugins/(?<plug_type>.+?)/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias $galaxy_root/config/plugins/$plug_type/$vis_name/static/$static_file;
        expires 24;
    }

    # redirect /prefix -> /prefix/
    rewrite ^/galaxy$ /galaxy/ last;
 
    # handle file uploads via the upload module
    location /galaxy/_upload {
        upload_store /export/galaxy/database/tmp/nginx_upload_store;
        upload_store_access user:rw group:rw;
        upload_pass_form_field "";
        upload_set_form_field "__${upload_field_name}__is_composite" "true";
        upload_set_form_field "__${upload_field_name}__keys" "name path";
        upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
        upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
        upload_pass_args on;
        upload_pass /_upload_done;
    }

    # once upload is complete, redirect to the proper galaxy path
    location /_upload_done {
        set $dst /galaxy/api/tools;
        if ($args ~ nginx_redir=([^&]+)) {
            set $dst $1;
        }

        rewrite "" $dst;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

} # end server section 
