{
	"builders": [
		{
			"type": "openstack",
			"ssh_username": "{{ ssh_username }}",
			"image_name": "{{ name }}_{{ version }}",
			"source_image": "{{ source_image }}",
			"flavor": "{{ flavor }}",
			"ssh_ip_version": "4",
			"use_blockstorage_volume": "true",
			"volume_size": "{{ volume_size }}",
			"volume_availability_zone": "nova",
			"image_disk_format": "qcow2",
			"networks": [
				"{{ network_id }}"
			]
		}
	],
	"provisioners": [
		{
			"type": "ansible",
                        {% if 'galaxy' in playbook_file %}
                        "extra_arguments": ["--extra-vars","@./inventory/group_vars/galaxyservers.yml","--extra-vars","@./inventory/group_vars/nginx.yml"],
                        {% endif%}
			"inventory_directory": "./inventory/",
                        {% if ansible_galaxy_file %}
                        "galaxy_file": "./requirements/{{ ansible_galaxy_file }}",
                        {% endif %}
			"playbook_file": "./playbooks/{{ playbook_file }}"
                        
		}
	]
}
