---
- hosts: default
  become_user: root
  become: true

  pre_tasks:
    - name: Enable EPEL
      dnf:
        name:
          - epel-release
        state: present
    - name: Install Packages for Rocky Linux
      dnf:
        name:
          - hdf5-devel
        state: present

  roles:
    - role: ansible-role-laniakea-rstudio
      install_Seu: true
      become: yes

  post_tasks:
    - name: Stop rstudio-server
      systemd:
        state: stopped
        enabled: no
        name: rstudio-server.service
      become: yes
